.form-container {
  margin-top: 0.5rem;
}

input {
  width: 40%;
  padding: 10px 10px;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  font-size: medium;
  border: 1px solid white;
  border-radius: 5px;
}

input:focus {
  border: 1px solid white;
}

.submit-btn {
  font-size: small;
}

.blueColor {
  border: 2px solid #4CAF50;
}

.redColor {
  border: 2px solid red;
}