.form-container {
    margin-top: 0.5rem;
}

input[type=text] {
    width: 40%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    font-size: medium;
    border: 1px solid white;
    border-radius: 5px;
  }

  input[type=text]:focus {
    border: 1px solid white;
  }

